.features.section {
    padding-bottom: 0;
  }
  .features {
    &__title {
        @include font(14, 16, 700, 0.03);
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__text {
        @include font(14, 24, 400, 0.03);
        color: $small-text;
    }
  }