.header {
    padding: 24px 0;
    border-bottom: 1px solid $hdr-border-color;
    > .container {
        display: flex;
        align-items: center;
    }
}

.nav-menu {
    display: flex;
    align-items: center;
    &__nav-items {
        display: flex;
        gap: 50px;
    }
}

.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
    &__icon {
        fill: currentColor;
        margin-right: 10px;
    }
}